# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jakub Burczyk\Documents\STUDIA ZDALNE\Semestr_7\PRACA_INZYNIERSKA\Carla_9_12\WindowsNoEditor\PythonAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
